doctype html
html(lang="en")
  head
    title= Title
    script.
      var gon = !{JSON.stringify(gon)};
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.position-fixed.fixed-top.shadow-sm
      a.shadow-sm.col-2.navbar-brand(href="/") SuperChat&reg;
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
      .collapse.navbar-collapse 
    .container-fluid.row
      #chat
      // block content
    script(src='/assets/main.js')
