.fade.in {
  opacity: 1;
}

.nav-chat {
  position: fixed;
  top: 7%;
}

 .form-send-message {
   position: fixed;
   bottom: 9%;
   width: 50%;
 }
  
.chat {
  height: 100%;
  min-width: 40%;
}

.message-text {
  max-width: 90%;
}

.page-fixer {
  height: 155px;
}
